body{
    background-color: black;
}
h1,h2,p{
    color: white;
    text-align: center;
}
h1{
text-align: center;
font-size: 45px ;
}
html{
    font-family:  sans-serif;
} 
a{
    color: purple;
    margin: 75px;
    font-size: 40px;
}
header{

}
p{
    margin: 30px;
}
